extend layout
block content
            h2 Добро пожаловать на сайт компании Nintonendo
            article.content
               p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae arcu enim. Nulla et accumsan orci, at vulputate ante. Nulla viverra tortor est, eget placerat diam vestibulum nec. Vivamus pellentesque fermentum scelerisque. Aenean finibus nisl non erat vehicula cursus. Nullam id maximus magna. Nulla blandit velit a enim viverra, eu posuere leo faucibus. Nulla eget tristique massa. Donec eleifend tincidunt felis id pulvinar. Praesent euismod aliquam ante, vitae mollis nibh tincidunt vitae.
               p
                  | Mauris volutpat sagittis ullamcorper. Nulla lacinia justo cursus congue vehicula. Phasellus suscipit nulla id nunc volutpat suscipit. Phasellus gravida a neque a rhoncus. Vivamus eget convallis metus. In aliquet, metus non luctus dignissim, diam elit gravida lorem, at imperdiet sem lacus ac leo. Cras sit amet nisi urna. Maecenas finibus malesuada odio, ac imperdiet tortor volutpat non.
               p
                  | Nulla eget sem metus. Mauris et lorem sed augue pretium consectetur sed facilisis massa. Suspendisse scelerisque tempor dui. Nulla euismod tellus mauris, vehicula luctus tellus feugiat efficitur. Suspendisse quis turpis vel nisl elementum lobortis id a erat. Vivamus ac est quis turpis blandit dictum. Suspendisse et elit maximus, commodo leo at, venenatis tortor. Aenean commodo dui elit, a pretium magna viverra ut. Donec dolor libero, volutpat ut dignissim in, pretium sit amet dolor. Nullam interdum orci ex, sed vestibulum erat mollis quis. Donec ullamcorper placerat nulla in fringilla. Donec id metus eget mi dapibus tempus. Pellentesque ullamcorper ornare justo vel tempus.
               p
                  | Morbi id nisi vel neque consectetur fermentum in non nunc. Aliquam viverra at dolor at elementum. Nulla facilisi. Duis vitae scelerisque ante. Duis non tempor velit. Nullam pellentesque nibh quam, eget porta urna fringilla condimentum. Nulla pharetra, nunc sed aliquet eleifend, libero libero bibendum arcu, ac vulputate quam magna ac lacus. In consequat vel turpis ac lobortis. Aliquam sagittis eu nibh ac dictum. Nulla venenatis mauris ac faucibus tempor. Vivamus vitae erat quis elit volutpat placerat in et ipsum. Quisque molestie justo eu massa rhoncus, vel scelerisque velit dignissim. Aliquam erat volutpat.
               p
                  | Mauris eget lorem accumsan, luctus nunc non, lacinia sapien. Phasellus egestas sem at tortor laoreet, sed tincidunt lacus iaculis. Donec ligula ex, imperdiet eget mollis ac, convallis non dolor. Nulla facilisi. Vivamus convallis leo non efficitur bibendum. Donec ut quam nisl. Phasellus a dui ornare, semper lectus ut, aliquet ante. Donec ullamcorper viverra ante, a viverra orci convallis sed.

